{% extends "base.html" %}
{% block container%}
<table>
    <thead>
        <th>Full Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Street</th>
        <th>Zip Code</th>
        <th>City</th>
        <th>Action</th>    
    </thead>

        {%for contact in contacts%}
         
    <tr>
        <td>{{contact.name}}</td>
        <td>{{contact.firstname}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.street}}</td>
        <td>{{contact.zip_code}}</td>
        <td>{{contact.city.cityname}}</td>
        <td><a href="{{url_for('main.editContact',id=contact.id)}}">EDIT</a></td>
    </tr>
       
       {% endfor %}
</table>
{{pagination.links|safe}} 
{% endblock %}
